{% extends "base.html" %}

{% block content %}
    <div class="column is-4 is-offset-4">
        <h3 class="title">アカウントを作成</h3>
        <div class="buttons">
            <a href="{{ url_for('main.index') }}"
               class="button is-link is-inverted is-fullwidth is-outlined is-rounded">←　戻る</a>
        </div>

        <div class="box">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}。
                    </div>
                {% endif %}
            {% endwith %}
            <form method="POST" action="/signup">
                <div class="field has-text-left">
                    <label class="label">メールアドレス</label>
                    <div class="control">
                        <input class="input is-large" type="email" name="email" placeholder="example@gmail.com"
                               autofocus="">
                    </div>
                </div>

                <div class="field has-text-left">
                    <label class="label">ユーザ名（ 2 ~ 15 文字以内の英数字 ）</label>
                    <div class="control">
                        <input class="input is-large" type="text" name="name" placeholder="tarou111" autofocus="">
                    </div>
                </div>

                <div class="field has-text-left">
                    <label class="label">表示名（ 50 文字以内 ）</label>
                    <div class="control">
                        <input class="input is-large" type="text" name="display_name" placeholder="太郎" autofocus="">
                    </div>
                </div>

                <div class="field has-text-left">
                    <label class="label">パスワード(8文字以上)　
                        <span class="icon is-small is-right">
                            <i class="far fa-eye toggle-password"></i>
                        </span>
                    </label>
                    <div class="control has-icons-right">
                        <input class="input is-large" type="password" name="password" id="password" placeholder="">
                    </div>
                </div>

                <button class="button is-block is-info is-large is-fullwidth">登録する</button>
            </form>
        </div>
    </div>

    <script>
        $('.toggle-password').click(function () {
            if ($(this).hasClass('fa-eye')) {
                $(this).removeClass('fa-eye').addClass('fa-eye-slash');
                $('#password').attr('type', 'text');
            } else {
                $(this).removeClass('fa-eye-slash').addClass('fa-eye');
                $('#password').attr('type', 'password');
            }
        });
    </script>
{% endblock %}